@page
@model IndexModel
@{
    ViewData["Title"] = "RZD-Recognise";
}
<head>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
</head>
<div class="">
    <form method="post" class="p-2 flex-fill d-flex">
        <div class="flex-fill bd-highlight">
            <input asp-for="UploadedFiles" multiple class="form-control">
        </div>
        <div class="">
            <button class="btn" style="" id="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%" fill="currentColor" class="bi bi-fast-forward-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M4.79 5.093 8 7.386V5.5a.5.5 0 0 1 .79-.407l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 8 10.5V8.614l-3.21 2.293A.5.5 0 0 1 4 10.5v-5a.5.5 0 0 1 .79-.407"/>
                </svg>
            </button>
        </div>
    </form>

    <audio controls src="-ot-vinta-bass-bossted.mp3"></audio>
</div>

@section scripts{
    <script>
        // file input {
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create(inputElement);
        // }
        
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $.ajax({
                    url: '',
                    data: new FormData(document.forms[0]),
                    contentType: false,
                    processData: false,
                    type: 'post',
                    success: function () {
                        alert('Добавлено на обработку файлов: '+document.forms[0].length);
                    }
                });
            });
        });

    
    
    </script>
}