@page
@model IndexModel
@{
    ViewData["Title"] = "RZD-Recognise";
}

<div>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="file" class="form-control"  asp-for="Upload"/>
            <input type="submit"/>
        </form>
    </div>
    
</div>

<script>
</script>