@page
@model IndexModel
@{
    ViewData["Title"] = "RZD-Recognise";
}

<div>
    <div class="d-flex flex-row justify-content-around">
        <form method="post" enctype="multipart/form-data" class="p-2 flex-fill bd-highlight">
            <input type="file" class="form-control"  asp-for="Upload"/>
        </form>
        <input type="submit" class="btn btn-light" style="margin: 7px"/>
    </div>
    
</div>

<script>
</script>