html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 90%;
}


.pt-sans-caption-regular {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-caption-bold {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin-bottom: 60px;
  font-family: "PT Sans Caption", sans-serif;;
}

#logo {
  height: 30px;
  margin-right: 40px;
}

.main_ {
  height: 73vh;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 20px;
}

.merge {
  padding: 0;
  background-color: #bb2d3b;
  color: white;
}

.tables {
  height: 80%;
}

.table_in {
  justify-content: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
  overflow-y: auto;
  /*display: block;*/
  /*overflow-y: scroll;*/
}

table {
  /*display: block;*/
  /*height: 89%;*/
  width: 100%;
  text-align: center;
  vertical-align: middle;
  /*overflow-y: scroll;*/
}

thead, tbody { 
  /*display: block;*/
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

tbody {
  text-align: center;
  vertical-align: middle;
  /*height: 100%;*/
  /*width: 100%;*/
  /*overflow-y: scroll;    !* Trigger vertical scroll    *!*/
  /*!*overflow-x: hidden;  !* Hide the horizontal scroll *!*!*/
}

tr {
  text-align: center;
  vertical-align: middle;
}

th {
}

th, td {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  /*width: 70%;*/
}

.bi {
  margin-right: 10px;
}

.bi-x {
  background-color: #bb2d3b;
  border-radius: 30px;
}

.text_col {
  margin-left: 20px;
  width: 45%;
}

textarea {
  height: 100%;
  width: 100%;
}

audio {
  margin: 0;
  padding: 0;
}